.terraform/
.terraform.d/
.terragrunt-cache/

.terraform.lock.hcl

*.tfstate
*.tfstate.*
crash.log
crash.*.log

*.tfplan
*.tfplan.*

terraform.tfvars
terraform.tfvars.json
*.auto.tfvars
*.auto.tfvars.json

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.DS_Store
Thumbs.db

.idea/
.vscode/

*.swp
*.swo
*~
